<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
			text-align: center;
		}
	</style>
	<title>Portada</title>
</head>
<body>
	<h1>Universidad Tecnológica de Manzanillo</h1>
	<hr>
	<h2>Técnico Superior Universitario en Tecnologías de la Información área Desarrollo en Software Multiplataforma</h2>
	<hr>
	<h2>Materia:</h2>
	<h3>Aplicaciones Web Orientadas a Servicios</h3>
	<hr>
	<h2>Alumno:</h2>
	<h3>Carlos Emilio Guzmán Padilla</h3>
	<hr>
	<h2>Docente:</h2>
	<h3>Juan Manuel Fernandez Alvarez</h3>
	<hr>
	<h2>Cuatrimestre:</h2>
	<h3>4</h3>
	<hr>
	<h2>Grupo:</h2>
	<h3>TID 1</h3>
	<hr>
	<h2>Actividad:</h2>
	<h3>Actividad práctica Django</h3>
	<hr>
	<h2>Fecha:</h2>
	<h3>12 de Noviembre de 2024</h3>
</body>
</html>